<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta elements -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="The Harry Potter Adventure Game has been developed for anyone interested in the world of Harry Potter, magic, and playing old-school text-based adventure games.">
    <meta name="keywords" content="Harry Potter, Adventure Game, RPG, CLI, Command Line Interface, Text-Based Game, Magic, Spells, JK Rowling">
    <meta name="author" content="Alexa Hendry">

    <!-- site title and favicon -->
    <title>Harry Potter Adventure Game</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
</head>

<body>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>